body {
	color:green;
	background-color: black;
	font-style: 20px; 
	font-family:courier;
	font-weight:bold;
	font-style:italic;
	line-height:30px; 
	letter-spacing:5px;
    }
h1{
 color:blue;
 text-align: center; 
 font-size: 18pt;
}
h1{

color:green;
text-align: center;
font-size: 16pt;
font-family: verdana;
}